.layout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 100vh;
}

.header {
  padding-top: 15px;
}

.main {
  flex-grow: 1;
}

.logout-menu {
  display: flex;
  justify-content: flex-end;
}